html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  html body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1.6rem; }

h4 {
  font-weight: 600; }

p {
  line-height: 1.2em; }

main {
  flex-grow: 1;
  width: 100%;
  max-width: calc(1040px + 2em);
  margin: auto;
  padding-bottom: 1em; }
  main > section {
    margin-top: 2em; }
    main > section > header {
      margin: auto auto .75em; }
      main > section > header > div {
        padding: 0 1em;
        background: linear-gradient(#FFF 0px, #FFF 45%, #1f1d24 49%, #1f1d24 51%, #FFF 55%, #FFF 100%); }
      main > section > header h2 {
        display: inline-block;
        margin: 0;
        padding: 0 .25em;
        background-color: #FFF; }
      main > section > header p {
        padding: 0 2em; }
        main > section > header p:first-of-type {
          margin-top: .25em; }

header#sitehead {
  background-color: #DDD;
  height: 50px; }

footer#sitefoot {
  background-color: #DDD;
  height: 200px; }

.struc {
  margin-top: 2em; }
  .struc:not(.full) {
    padding: 0 16px; }
  .struc.coln {
    display: grid;
    grid-gap: 32px 16px; }
    @media (min-width: 545px) {
      .struc.coln.col2 {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 545px) {
      .struc.coln.col4 {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 787px) {
      .struc.coln.col4 {
        grid-template-columns: repeat(4, 1fr); } }
    @media (min-width: 545px) {
      .struc.coln.col3 {
        grid-template-columns: repeat(3, 1fr); }
        .struc.coln.col3.col12 {
          grid-template-columns: repeat(2, 1fr); }
        .struc.coln.col3.col21 {
          grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 787px) {
      .struc.coln.col3.col12 {
        grid-template-columns: repeat(3, 1fr); }
        .struc.coln.col3.col12 > div:last-child {
          grid-column: 2/span 2; }
      .struc.coln.col3.col21 {
        grid-template-columns: repeat(3, 1fr); }
        .struc.coln.col3.col21 > div:first-child {
          grid-column: 1/span 2; } }
    .struc.coln > div {
      display: flex;
      flex-direction: column; }
    .struc.coln header {
      display: flex;
      flex-direction: column-reverse; }
    .struc.coln h3, .struc.coln h4 {
      margin: .75em 0 .25em; }
    .struc.coln img {
      display: block;
      width: 100%;
      height: auto; }
    .struc.coln header + div > :first-child {
      margin-top: 0; }
    .struc.coln footer {
      margin-top: auto; }
    @media (max-width: 512px) {
      .struc.coln {
        padding: 0; }
        .struc.coln h3, .struc.coln h4 {
          margin: .75em 16px .25em; }
        .struc.coln header + div, .struc.coln footer {
          margin: 0 16px; } }

.comp:not(.full) {
  padding: 0 16px; }
.comp + .comp {
  margin-top: 2em; }
.comp.subsection h3 {
  margin: .75em 0 .25em; }
.comp.subsection p:first-of-type {
  margin-top: 0; }

.comp + .subsection, .struc + .subsection {
  margin-top: 3em; }

.subsection + .comp, .subsection + .struc {
  margin-top: 1em; }

/*# sourceMappingURL=style.css.map */
