.comp {
    &:not(.full) {
        padding: 0 16px;
    }

    + .comp {
        margin-top: 2em;
    }

    &.subsection {
        h3 {
            margin: .75em 0 .25em;
        }

        p:first-of-type {
            margin-top: 0;
        }

        + .comp {
            margin-top: 1em;
        }
    }

    + .subsection {
        margin-top: 3em;
    }    

    &.coln {
        display: grid;
        grid-gap: map-get($gridGap, 'row' ) map-get($gridGap, 'column' );

        &.col2 {
            @media(min-width: 545px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &.col4 {
            @media(min-width: 545px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media(min-width: 787px) {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        &.col3 {
            @media(min-width: 545px) {
                grid-template-columns: repeat(3, 1fr);

                &.col12 {
                    grid-template-columns: repeat(2, 1fr);
                }

                &.col21 {
                    grid-template-columns: repeat(2, 1fr);
                }
            }

            @media(min-width: 787px) {
                &.col12 {
                    grid-template-columns: repeat(3, 1fr);

                    > :last-child {
                        grid-column: 2/span 2
                    }
                }

                &.col21 {
                    grid-template-columns: repeat(3, 1fr);

                    > :first-child {
                        grid-column: 1/span 2
                    }
                }
            }
        }

        > div {
            display: flex;
            flex-direction: column;
        }

        header {
            display: flex;
            flex-direction: column-reverse;
        }

        h3, h4 {
            margin: .75em 0 .25em;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        header + div {
            > :first-child {
                margin-top: 0;
            }
        }

        footer {
            margin-top: auto;
        }

        @media(max-width: 512px) {
            padding: 0;

            h3, h4 {
                margin: .75em 16px .25em;
            }

            header + div, footer {
                margin: 0 16px;
            }
        }
    }

    &.txtimg {
        display: grid;
        grid-auto-columns: 1fr;
        grid-gap: 0 map-get($gridGap, 'column' );
        grid-template-areas:
            "image"
            "text";

        h3, h4 {
            margin: 0 0 .25em;
        }

        header + div {
            > :first-child {
                margin-top: 0;
            }
        }

        picture {
            display: block;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        > :first-child {
            grid-area: text;
            align-self: center;
        }

        > :last-child {
            grid-area: image;
        }

        &.col2 {
            @media(min-width: 545px) {
                grid-template-areas: "text image";

                &.inv {
                    grid-template-areas: "image text";
                }
            }
        }

        &.col3 {
            @media(min-width: 545px) {
                &.col12 {                    
                    grid-template-areas: "text image";

                    &.inv {
                        grid-template-areas: "image text";
                    }
                }

                &.col21 {
                    grid-template-areas: "text text image";

                    &.inv {
                        grid-template-areas: "image text text";
                    }
                }
            }

            @media(min-width: 787px) {
                &.col12 {
                    grid-template-areas: "text image image";

                    &.inv {
                        grid-template-areas: "image image text";
                    }
                }
            }
        }

        @media(max-width: 544px) {
            h3, h4 {
                margin-top: .75em;
            }
        }

        @media(max-width: 512px) {
            padding: 0;

            h3, h4 {
                margin: .75em 16px .25em;
            }

            header + div, footer {
                margin: 0 16px;
            }
        }
    }
}