form.validate {
    svg path {
        fill: none;
    }

    .validated:valid + svg .valid {
        fill: map-get(map-get($colors, 'state'), 'valid');
    }

    .validated:invalid + svg .invalid {
        fill: map-get(map-get($colors, 'state'), 'invalid');
    }
}
