<!DOCTYPE html>
<html lang="en">
<head>
    <title>Text Components | Canbotics Style Guide</title>

	<meta charset="utf-8">
	<meta name="description" content="Templates of available Text Components in the Canbotics Style Guide.">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <link href="../assets/styles/style.css" rel="stylesheet">

    <script src="https://assets.canbotics.xyz/global/scripts/jquery-3.4.1.min.js" defer></script>
	<script src="../assets/scripts/script.js" defer></script>
</head>
<body>
    <header id="sitehead">
        <div>
            <a href="/">
                <h1>Logo</h1>
            </a>
            <nav>
                <h2>Site Navigation</h2>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/layouts">Layouts</a>
                        <ul>
                            <li><a href="/layouts/columns.html">Columns</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/components" class="active">Components</a>
                        <ul>
                            <li><a href="/components/text.html" aria-current="page">Text</a></li>
                            <li><a href="/components/text.html">Other Text</a></li>
                            <li><a href="/components/text.html">More Text</a></li>
                            <li><a href="/components/text.html">Something else</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <header>
            <h1>Text</h1>
        </header>
        <section>
            <header>
                <div>
                    <h2>Text with Image</h2>hi
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin.</p>
            </header>

            <div class="comp subsection">
                <h3>2 Column</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin.</p>
            </div>

            <div class="comp txtimg col2">
                <div>
                    <header>
                        <h4>Standard</h4>
                    </header>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin. Integer id dignissim mi, non efficitur sem. Sed convallis, mauris vel euismod vestibulum, purus ante iaculis odio, a pretium arcu magna at arcu. Etiam rutrum velit vitae leo porta sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vehicula tortor nec justo volutpat, at imperdiet nibh tincidunt. Nunc ultrices justo mi, vel pharetra odio varius suscipit. Quisque eu posuere ligula. Ut orci libero, ullamcorper at dignissim eu, faucibus a eros. Duis sodales nulla non urna cursus tincidunt.</p>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 544px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std-mob.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std-mob-2x.jpg 2x">
                        <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std-med.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std-med-2x.jpg 2x">
                        <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std-2x.jpg 2x">
                        <img src="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std-2x.jpg 2x" width="512" height="384" alt="" title="Standard Text with Image">
                    </picture>
                </div>
            </div>

            <div class="comp txtimg col2 inv">
                <div>
                    <header>
                        <h4>Inverted</h4>
                    </header>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin. Integer id dignissim mi, non efficitur sem. Sed convallis, mauris vel euismod vestibulum, purus ante iaculis odio, a pretium arcu magna at arcu. Etiam rutrum velit vitae leo porta sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vehicula tortor nec justo volutpat, at imperdiet nibh tincidunt. Nunc ultrices justo mi, vel pharetra odio varius suscipit. Quisque eu posuere ligula. Ut orci libero, ullamcorper at dignissim eu, faucibus a eros. Duis sodales nulla non urna cursus tincidunt.</p>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 544px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv-mob.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv-mob-2x.jpg 2x">
                        <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv-med.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv-med-2x.jpg 2x">
                        <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv-2x.jpg 2x">
                        <img src="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv-2x.jpg 2x" width="512" height="384" alt="" title="Inverted Text with Image">
                    </picture>
                </div>
            </div>
    
            <div class="comp txtimg col2">
                <div>
                    <header>
                        <h4>Standard (Short Text)</h4>
                    </header>
                    <div>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 544px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std-mob.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std-mob-2x.jpg 2x">
                        <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std-med.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std-med-2x.jpg 2x">
                        <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std-2x.jpg 2x">
                        <img src="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-std-2x.jpg 2x" width="512" height="384" alt="" title="Standard Text with Image">
                    </picture>
                </div>
            </div>

            <div class="comp txtimg col2 inv">
                <div>
                    <header>
                        <h4>Inverted (Short Text)</h4>
                    </header>
                    <div>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 544px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv-mob.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv-mob-2x.jpg 2x">
                        <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv-med.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv-med-2x.jpg 2x">
                        <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv-2x.jpg 2x">
                        <img src="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col2-inv-2x.jpg 2x" width="512" height="384" alt="" title="Inverted Text with Image">
                    </picture>
                </div>
            </div>

            <div class="comp subsection">
                <h3>1 + 2 Column</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin.</p>
            </div>

            <div class="comp txtimg col3 col12">
                <div>
                    <header>
                        <h4>Standard</h4>
                    </header>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin. Integer id dignissim mi, non efficitur sem. Sed convallis, mauris vel euismod vestibulum, purus ante iaculis odio, a pretium arcu magna at arcu. Etiam rutrum velit vitae leo porta sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vehicula tortor nec justo volutpat, at imperdiet nibh tincidunt. Nunc ultrices justo mi, vel pharetra odio varius suscipit. Quisque eu posuere ligula. Ut orci libero, ullamcorper at dignissim eu, faucibus a eros. Duis sodales nulla non urna cursus tincidunt.</p>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 544px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std-mob.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std-mob-2x.jpg 2x">
                        <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std-med.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std-med-2x.jpg 2x">
                        <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std-2x.jpg 2x">
                        <img src="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std-2x.jpg 2x" width="688" height="516" alt="" title="Standard Text with Image">
                    </picture>
                </div>
            </div>

            <div class="comp txtimg col3 col12 inv">
                <div>
                    <header>
                        <h4>Inverted</h4>
                    </header>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin. Integer id dignissim mi, non efficitur sem. Sed convallis, mauris vel euismod vestibulum, purus ante iaculis odio, a pretium arcu magna at arcu. Etiam rutrum velit vitae leo porta sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vehicula tortor nec justo volutpat, at imperdiet nibh tincidunt. Nunc ultrices justo mi, vel pharetra odio varius suscipit. Quisque eu posuere ligula. Ut orci libero, ullamcorper at dignissim eu, faucibus a eros. Duis sodales nulla non urna cursus tincidunt.</p>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 544px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv-mob.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv-mob-2x.jpg 2x">
                        <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv-med.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv-med-2x.jpg 2x">
                        <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv-2x.jpg 2x">
                        <img src="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv-2x.jpg 2x" width="512" height="384" alt="" title="Inverted Text with Image">
                    </picture>
                </div>
            </div>
    
            <div class="comp txtimg col3 col12">
                <div>
                    <header>
                        <h4>Standard (Short Text)</h4>
                    </header>
                    <div>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 544px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std-mob.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std-mob-2x.jpg 2x">
                        <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std-med.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std-med-2x.jpg 2x">
                        <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std-2x.jpg 2x">
                        <img src="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-std-2x.jpg 2x" width="688" height="516" alt="" title="Standard Text with Image">
                    </picture>
                </div>
            </div>

            <div class="comp txtimg col3 col12 inv">
                <div>
                    <header>
                        <h4>Inverted (Short Text)</h4>
                    </header>
                    <div>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 544px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv-mob.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv-mob-2x.jpg 2x">
                        <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv-med.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv-med-2x.jpg 2x">
                        <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv-2x.jpg 2x">
                        <img src="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col12-inv-2x.jpg 2x" width="512" height="384" alt="" title="Inverted Text with Image">
                    </picture>
                </div>
            </div>

            <div class="comp subsection">
                <h3>2 + 1 Column</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin.</p>
            </div>

            <div class="comp txtimg col3 col21">
                <div>
                    <header>
                        <h4>Standard</h4>
                    </header>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin. Integer id dignissim mi, non efficitur sem. Sed convallis, mauris vel euismod vestibulum, purus ante iaculis odio, a pretium arcu magna at arcu. Etiam rutrum velit vitae leo porta sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vehicula tortor nec justo volutpat, at imperdiet nibh tincidunt. Nunc ultrices justo mi, vel pharetra odio varius suscipit. Quisque eu posuere ligula. Ut orci libero, ullamcorper at dignissim eu, faucibus a eros. Duis sodales nulla non urna cursus tincidunt.</p>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 544px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std-mob.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std-mob-2x.jpg 2x">
                        <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std-med.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std-med-2x.jpg 2x">
                        <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std-2x.jpg 2x">
                        <img src="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std-2x.jpg 2x" width="688" height="516" alt="" title="Standard Text with Image">
                    </picture>
                </div>
            </div>

            <div class="comp txtimg col3 col21 inv">
                <div>
                    <header>
                        <h4>Inverted</h4>
                    </header>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin. Integer id dignissim mi, non efficitur sem. Sed convallis, mauris vel euismod vestibulum, purus ante iaculis odio, a pretium arcu magna at arcu. Etiam rutrum velit vitae leo porta sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vehicula tortor nec justo volutpat, at imperdiet nibh tincidunt. Nunc ultrices justo mi, vel pharetra odio varius suscipit. Quisque eu posuere ligula. Ut orci libero, ullamcorper at dignissim eu, faucibus a eros. Duis sodales nulla non urna cursus tincidunt.</p>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 544px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv-mob.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv-mob-2x.jpg 2x">
                        <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv-med.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv-med-2x.jpg 2x">
                        <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv-2x.jpg 2x">
                        <img src="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv-2x.jpg 2x" width="512" height="384" alt="" title="Inverted Text with Image">
                    </picture>
                </div>
            </div>
    
            <div class="comp txtimg col3 col21">
                <div>
                    <header>
                        <h4>Standard (Short Text)</h4>
                    </header>
                    <div>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 544px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std-mob.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std-mob-2x.jpg 2x">
                        <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std-med.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std-med-2x.jpg 2x">
                        <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std-2x.jpg 2x">
                        <img src="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-std-2x.jpg 2x" width="688" height="516" alt="" title="Standard Text with Image">
                    </picture>
                </div>
            </div>

            <div class="comp txtimg col3 col21 inv">
                <div>
                    <header>
                        <h4>Inverted (Short Text)</h4>
                    </header>
                    <div>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 544px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv-mob.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv-mob-2x.jpg 2x">
                        <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv-med.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv-med-2x.jpg 2x">
                        <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv.jpg, https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv-2x.jpg 2x">
                        <img src="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/txtimg/col21-inv-2x.jpg 2x" width="512" height="384" alt="" title="Inverted Text with Image">
                    </picture>
                </div>
            </div>
        </section>
    </main>
    <footer id="sitefoot">
    </footer>
</body>