<!DOCTYPE html>
<html lang="en">
<head>
    <title>Column Layouts | Canbotics Style Guide</title>

    <meta charset="utf-8">
	<meta name="description" content="Templates of available Column Layouts in the Canbotics Style Guide.">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <link href="../assets/styles/style.css" rel="stylesheet">

    <script src="https://assets.canbotics.xyz/global/scripts/jquery-3.4.1.min.js" defer="true"></script>
	<script src="../assets/scripts/script.js" defer="true"></script>
</head>
<body>
    <header id="sitehead">
        <div>
            <a href="/">
                <h1>Logo</h1>
            </a>
            <nav>
                <h2>Site Navigation</h2>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/layouts" class="active">Layouts</a>
                        <ul>
                            <li><a href="/layouts/columns.html" aria-current="page">Columns</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/components">Components</a>
                        <ul>
                            <li><a href="/components/text.html">Text</a></li>
                            <li><a href="/components/text.html">Other Text</a></li>
                            <li><a href="/components/text.html">More Text</a></li>
                            <li><a href="/components/text.html">Something else</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <header>
            <h1>Columns</h1>
        </header>
        <section>
            <header>
                <div>
                    <h2>Even Columns</h2>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin.</p>
            </header>

            <div class="comp subsection">
                <h3>2 Column</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin.</p>
            </div>

            <div class="comp coln col2">
                <div>
                    <header>
                        <h4>Column 1 of 2</h4>
                        <picture>
                        	<img src="https://assets.canbotics.xyz/style-guide/images/coln/col2-01.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col2-01-2x.jpg 2x" width="512" height="288" alt="" title="Column 1 of 2">
                        </picture>
                    </header>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin. Integer id dignissim mi, non efficitur sem. Sed convallis, mauris vel euismod vestibulum, purus ante iaculis odio, a pretium arcu magna at arcu. Etiam rutrum velit vitae leo porta sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vehicula tortor nec justo volutpat, at imperdiet nibh tincidunt. Nunc ultrices justo mi, vel pharetra odio varius suscipit. Quisque eu posuere ligula. Ut orci libero, ullamcorper at dignissim eu, faucibus a eros. Duis sodales nulla non urna cursus tincidunt.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <header>
                        <h4>Column 2 of 2</h4>
                        <picture>
                        	<img src="https://assets.canbotics.xyz/style-guide/images/coln/col2-02.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col2-02-2x.jpg 2x" width="512" height="288" alt="" title="Column 2 of 2">
                        </picture>
                    </header>
                    <div>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary inv">Button</a>
                    </footer>
                </div>
            </div>

            <div class="comp subsection">
                <h3>4 Column</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin.</p>
            </div>

            <div class="comp coln col4">
                <div>
                    <header>
                        <h4>Column 1 of 4</h4>
                        <picture>
                        	<img src="https://assets.canbotics.xyz/style-guide/images/coln/col4-01.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col4-01-2x.jpg 2x" width="512" height="288" alt="" title="Column 1 of 4">
                        </picture>
                    </header>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin. Integer id dignissim mi, non efficitur sem. Sed convallis, mauris vel euismod vestibulum, purus ante iaculis odio, a pretium arcu magna at arcu. Etiam rutrum velit vitae leo porta sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vehicula tortor nec justo volutpat, at imperdiet nibh tincidunt. Nunc ultrices justo mi, vel pharetra odio varius suscipit. Quisque eu posuere ligula. Ut orci libero, ullamcorper at dignissim eu, faucibus a eros. Duis sodales nulla non urna cursus tincidunt.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn secondary">Button</a>
                    </footer>
                </div>
                <div>
                    <header>
                        <h4>Column 2 of 4</h4>
                        <picture>
                        	<img src="https://assets.canbotics.xyz/style-guide/images/coln/col4-02.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col4-02-2x.jpg 2x" width="512" height="288" alt="" title="Column 2 of 4">
                        </picture>
                    </header>
                    <div>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn secondary inv">Button</a>
                    </footer>
                </div>
                <div>
                    <header>
                        <h4>Column 3 of 4</h4>
                        <picture>
                        	<img src="https://assets.canbotics.xyz/style-guide/images/coln/col4-03.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col4-03-2x.jpg 2x" width="512" height="288" alt="" title="Column 3 of 4">
                        </picture>
                    </header>
                    <div>
                        <p>In odio erat, iaculis id posuere et, dignissim eu sem. Integer suscipit diam quis lorem consequat interdum. Integer semper dictum pharetra. Pellentesque porta odio in erat suscipit hendrerit. Curabitur at lacus efficitur, laoreet nisl sit amet, eleifend odio. Donec viverra a lorem at lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse scelerisque risus pharetra, vehicula erat luctus, imperdiet tortor. Vestibulum pulvinar est ut tellus laoreet, in tempor eros ornare.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn secondary">Button</a>
                    </footer>
                </div>
                <div>
                    <header>
                        <h4>Column 4 of 4</h4>
                        <picture>
                        	<img src="https://assets.canbotics.xyz/style-guide/images/coln/col4-04.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col4-04-2x.jpg 2x" width="512" height="288" alt="" title="Column 4 of 4">
                        </picture>
                    </header>
                    <div>
                        <p>Ut nisl magna, pretium et quam vel, venenatis cursus sem. Curabitur risus nulla, sagittis vitae ex quis, pretium viverra ligula. Pellentesque efficitur felis nibh, a laoreet velit sagittis a. Etiam suscipit nec leo non lacinia. Sed a lacinia risus. Vestibulum finibus feugiat nisi, id aliquam sapien. Aliquam vulputate non est non sollicitudin. Nulla dolor libero, feugiat at sollicitudin vel, suscipit a nisl. Aenean cursus, ipsum sit amet consectetur scelerisque, lorem neque porttitor nisl, ut tempor quam dui sit amet felis. Morbi eu dapibus libero. Pellentesque porttitor pretium dolor, vel blandit magna.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn secondary inv">Button</a>
                    </footer>
                </div>
            </div>
        </section>
        <section>
            <header>
                <div>
                    <h2>Odd Columns</h2>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin.</p>
            </header>

            <div class="comp subsection">
                <h3>3 Column</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin.</p>
            </div>

            <div class="comp coln col3">
                <div>
                    <header>
                        <h4>Column 1 of 3</h4>
                        <picture>
                        	<img src="https://assets.canbotics.xyz/style-guide/images/coln/col3-01.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col3-01-2x.jpg 2x" width="512" height="288" alt="" title="Column 1 of 3">
                        </picture>
                    </header>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin. Integer id dignissim mi, non efficitur sem. Sed convallis, mauris vel euismod vestibulum, purus ante iaculis odio, a pretium arcu magna at arcu. Etiam rutrum velit vitae leo porta sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vehicula tortor nec justo volutpat, at imperdiet nibh tincidunt. Nunc ultrices justo mi, vel pharetra odio varius suscipit. Quisque eu posuere ligula. Ut orci libero, ullamcorper at dignissim eu, faucibus a eros. Duis sodales nulla non urna cursus tincidunt.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn tertiary">Button</a>
                    </footer>
                </div>
                <div>
                    <header>
                        <h4>Column 2 of 3</h4>
                        <picture>
                        	<img src="https://assets.canbotics.xyz/style-guide/images/coln/col3-02.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col3-02-2x.jpg 2x" width="512" height="288" alt="" title="Column 2 of 3">
                        </picture>
                    </header>
                    <div>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn tertiary inv">Button</a>
                    </footer>
                </div>
                <div>
                    <header>
                        <h4>Column 3 of 3</h4>
                        <picture>
                        	<img src="https://assets.canbotics.xyz/style-guide/images/coln/col3-03.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col3-03-2x.jpg 2x" width="512" height="288" alt="" title="Column 3 of 3">
                        </picture>
                    </header>
                    <div>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn tertiary">Button</a>
                    </footer>
                </div>
            </div>

            <div class="comp subsection">
                <h3>1+2 Column</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin.</p>
            </div>

            <div class="comp coln col3 col12">
                <div>
                    <header>
                        <h4>Column 1 of 2</h4>
                        <picture>
                            <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col12-01-mob.jpg, https://assets.canbotics.xyz/style-guide/images/coln/col12-01-mob-2x.jpg 2x">
                            <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col12-01.jpg, https://assets.canbotics.xyz/style-guide/images/coln/col12-01-2x.jpg 2x">
                            <img src="https://assets.canbotics.xyz/style-guide/images/coln/col12-01.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col12-01-2x.jpg 2x" width="336" height="288" alt="" title="Column 2 of 2">
                        </picture>
                    </header>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin. Integer id dignissim mi, non efficitur sem. Sed convallis, mauris vel euismod vestibulum, purus ante iaculis odio, a pretium arcu magna at arcu. Etiam rutrum velit vitae leo porta sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vehicula tortor nec justo volutpat, at imperdiet nibh tincidunt. Nunc ultrices justo mi, vel pharetra odio varius suscipit. Quisque eu posuere ligula. Ut orci libero, ullamcorper at dignissim eu, faucibus a eros. Duis sodales nulla non urna cursus tincidunt.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <header>
                        <h4>Column 2 of 2</h4>
                        <picture>
                            <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col12-02-mob.jpg, https://assets.canbotics.xyz/style-guide/images/coln/col12-02-mob-2x.jpg 2x">
                            <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col12-02.jpg, https://assets.canbotics.xyz/style-guide/images/coln/col12-02-2x.jpg 2x">
                            <img src="https://assets.canbotics.xyz/style-guide/images/coln/col12-02.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col12-02-2x.jpg 2x" width="688" height="288" alt="" title="Column 1 of 2">
                        </picture>
                    </header>
                    <div>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
            </div>

            <div class="comp subsection">
                <h3>2+1 Column</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin.</p>
            </div>
    
            <div class="comp coln col3 col21">
                <div>
                    <header>
                        <h4>Column 1 of 2</h4>
                        <picture>
                            <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col21-01-mob.jpg, https://assets.canbotics.xyz/style-guide/images/coln/col21-01-mob-2x.jpg 2x">
                            <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col21-01.jpg, https://assets.canbotics.xyz/style-guide/images/coln/col21-01-2x.jpg 2x">
                            <img src="https://assets.canbotics.xyz/style-guide/images/coln/col21-01.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col21-01-2x.jpg 2x" width="688" height="288" alt="" title="Column 1 of 2">
                        </picture>
                    </header>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique sem sit amet libero accumsan, sed aliquet libero elementum. Sed laoreet tellus ex, in pulvinar turpis faucibus quis. Fusce condimentum varius quam, id suscipit lorem lacinia sollicitudin. Integer id dignissim mi, non efficitur sem. Sed convallis, mauris vel euismod vestibulum, purus ante iaculis odio, a pretium arcu magna at arcu. Etiam rutrum velit vitae leo porta sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vehicula tortor nec justo volutpat, at imperdiet nibh tincidunt. Nunc ultrices justo mi, vel pharetra odio varius suscipit. Quisque eu posuere ligula. Ut orci libero, ullamcorper at dignissim eu, faucibus a eros. Duis sodales nulla non urna cursus tincidunt.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
                <div>
                    <header>
                        <h4>Column 2 of 2</h4>
                        <picture>
                            <source media="(max-width: 786px)" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col21-02-mob.jpg, https://assets.canbotics.xyz/style-guide/images/coln/col21-02-mob-2x.jpg 2x">
                            <source media="(min-width: 787px)" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col21-02.jpg, https://assets.canbotics.xyz/style-guide/images/coln/col21-02-2x.jpg 2x">
                            <img src="https://assets.canbotics.xyz/style-guide/images/coln/col21-02.jpg" srcset="https://assets.canbotics.xyz/style-guide/images/coln/col21-02-2x.jpg 2x" width="336" height="288" alt="" title="Column 2 of 2">
                        </picture>
                    </header>
                    <div>
                        <p>Nulla tortor orci, faucibus sed lorem quis, placerat mollis dolor. Nam eget egestas ligula. Ut at risus ac neque maximus dictum quis non mauris. Maecenas scelerisque odio id sagittis scelerisque. Ut massa ex, tempor nec est ac, iaculis pellentesque libero. Sed at risus quis risus auctor porttitor ut eget massa. Cras quis urna sit amet enim ultrices congue eget eget ex. Morbi tincidunt, tellus nec imperdiet posuere, urna ligula mattis sem, tempor feugiat magna lorem nec velit.</p>
                    </div>
                    <footer>
                        <a href="#" class="btn primary">Button</a>
                    </footer>
                </div>
            </div>
        </section>
    </main>
    <footer id="sitefoot">
    </footer>
</body>