<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <link href="../assets/styles/style.css" rel="stylesheet">

    <script src="https://assets.canbotics.xyz/global/scripts/jquery-3.4.1.min.js" defer="true"></script>
	<script src="../assets/scripts/script.js" defer="true"></script>
</head>
<body>
    <header id="sitehead">
        <div>
            <a href="/">
                <h1>Logo</h1>
            </a>
            <nav>
                <h2>Site Navigation</h2>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/layouts" class="active" aria-current="page">Layouts</a>
                        <ul>
                            <li><a href="/layouts/columns.html">Columns</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/components">Components</a>
                        <ul>
                            <li><a href="/components/text.html">Text</a></li>
                            <li><a href="/components/text.html">Other Text</a></li>
                            <li><a href="/components/text.html">More Text</a></li>
                            <li><a href="/components/text.html">Something else</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <header>
            <h1>Canbotics Style Guide</h1>
        </header>
        <section>
            <header>
                <div>
                    <h2>Layout</h2>
                </div>

                <p>Elements for controlling layout.</p>
            </header>

            <ul>
                <li><a href="columns.html">Columns</a></li>
            </ul>
        </section>
    </main>
    <footer id="sitefoot">
    </footer>
</body>