.comp {
    &:not(.full) {
        padding: 0 16px;
    }

    + .comp {
        margin-top: 2em;
    }

    &.subsection {
        h3 {
            margin: .75em 0 .25em;
        }

        p:first-of-type {
            margin-top: 0;
        }
    }


}

.comp + .subsection, .struc + .subsection {
    margin-top: 3em;
}

.subsection + .comp, .subsection + .struc {
    margin-top: 1em;
}